$black:                       #000 !default;
$one-px:                      0.0625rem;
$content-top:                 $one-px * 235;
$bg:                          #F4F4F4;
$border-color:                #C3C3C3;
$grid-gutter-width:           30 * $one-px !default;